@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-ExtraBold.woff2") format("woff2"), url("../fonts/Akrobat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1.2;
  font-family: "Akrobat";
  font-size: 24px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Akrobat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #010F29;
  font-weight: 400;
  line-height: 32px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 945px;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #010f29;
  padding: 15px 51px;
  height: 100%;
  background: linear-gradient(143.05deg, #fca82d 20.13%, #efc449 85.02%);
  box-shadow: 0px 11px 20px rgba(2, 2, 2, 0.261637);
  backdrop-filter: blur(13.5914px);
  border-radius: 30.5px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background: linear-gradient(143.05deg, #df9627 20.13%, #dfb43d 85.02%);
}

.title {
  font-weight: 700;
  font-size: 54px;
  line-height: 50px;
  text-transform: uppercase;
}

.arrow-button {
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__menu {
  margin-top: 51px;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__list li:not(:last-child) {
  margin-right: 56px;
}
.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.footer {
  margin-bottom: 160px;
}
.footer__container {
  position: relative;
}
.footer__container::before {
  content: "";
  position: absolute;
  height: 618px;
  width: 1440px;
  top: 0;
  left: -225px;
  background: url(../img/gradient-3.png) no-repeat;
}
.footer__body {
  display: flex;
  position: relative;
}
.footer__title {
  margin-right: 130px;
}
.footer__form {
  flex: 1 1 auto;
}
.footer__text {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  margin-top: -140px;
}
.footer__policy {
  text-decoration: underline !important;
  transition: 0.3s;
}
.footer__policy:hover {
  color: #efc247;
}

.form {
  z-index: 2;
}
.form__item {
  margin-bottom: 28px;
}
.form__input {
  width: 100%;
  padding: 12px 20px;
  backdrop-filter: blur(40.7742px);
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  color: #ffffff;
}
.form__input::placeholder {
  color: #e9f1ff;
}
.form__input:focus {
  background: rgba(255, 255, 255, 0.0001);
  border: 2px solid #881843;
}
.form__button {
  margin-top: 2px;
  height: auto;
}
.form__button-button {
  text-align: right;
}

.mainblock {
  position: relative;
  background-image: url(../img/gradient.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.mainblock__container {
  max-width: 1041px;
}
.mainblock__bigtext {
  position: absolute;
  top: calc(50% - 35px + 97px);
  right: 0.34%;
  white-space: nowrap;
}
.mainblock__bigtext span {
  font-weight: 700;
  font-size: 114px;
  line-height: 70px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.mainblock__body {
  padding-top: 235px;
}
.mainblock__columns {
  display: flex;
  padding: 0px 0px 0px 50px;
  margin-bottom: 87px;
}
.mainblock__column:not(:last-child) {
  margin-right: 118px;
}
.mainblock__title {
  margin-bottom: 34px;
  font-size: 84px;
  line-height: 80px;
  text-transform: uppercase;
  max-width: 445px;
}
.mainblock__title span {
  font-weight: 800;
}
.mainblock__info {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
}
.mainblock__text {
  max-width: 360px;
  margin-bottom: 86px;
}
.mainblock__information-mob {
  display: none;
}

.info-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 705px;
  font-size: 20px;
  margin-right: 20px;
}
.info-main__column {
  display: flex;
}
.info-main__column:not(:last-child) {
  margin-right: 15px;
}
.info-main__left {
  margin-right: 61px;
}
.info-main__right {
  font-weight: 800;
  text-align: right;
}
.info-main__benefit {
  margin-right: 14px;
}
.info-main__lot {
  text-align: right;
}
.info-main__arrow {
  background: rgba(255, 255, 255, 0.06);
}
.info-main__arrow_mob {
  display: none;
}

.height {
  margin-bottom: 118px;
}
.height__container {
  max-width: 1041px;
}
.height__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 215px 50px 53px 51px;
  margin-bottom: 60px;
  position: relative;
}
.height__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(225deg, #160db8 0%, #65032b 51.26%, #eaa654 100%);
  opacity: 0.19;
  filter: blur(67.957px);
}
.height__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.height__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.height__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  text-transform: uppercase;
  max-width: 600px;
  z-index: 2;
}
.height__yellow {
  z-index: 2;
}
.height__yellow img {
  width: 60px;
  height: 60px;
}
.height__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 15px;
  padding: 0px 42px 0px 48px;
  margin-bottom: 74px;
}
.height__text p {
  max-width: 461px;
  color: #e9f1ff;
}
.height__text span {
  line-height: 36px;
  font-weight: 700;
}
.height__decor {
  display: flex;
  align-items: center;
}
.height__arrow {
  background: linear-gradient(138.91deg, #0015b1 23.29%, #c302d5 88.99%);
  opacity: 0.2;
  margin-right: 17px;
}
.height__line {
  position: relative;
}
.height__line::before {
  content: "";
  position: absolute;
  width: 1140px;
  height: 2px;
  border: 1px solid;
  opacity: 0.2;
}

.program {
  margin-bottom: 108px;
}
.program__items {
  display: grid;
  gap: 20px;
  counter-reset: counter;
}
.program__item {
  min-height: 190px;
}
.program__item_big-first {
  min-height: 92px;
}
.program__item_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.program__title {
  margin-left: 25px;
}

.item-program {
  padding: 35px 45px;
  background: rgba(255, 255, 255, 0.0868389);
  border-radius: 7px;
  position: relative;
}
.item-program img {
  position: absolute;
  height: 156px;
  width: 134px;
  right: 15px;
  top: 34px;
}
.item-program_number {
  position: relative;
}
.item-program_number::before {
  content: counter(counter);
  counter-increment: counter;
  position: absolute;
  right: 14px;
  bottom: 76px;
  color: rgba(233, 241, 255, 0.08);
  font-size: 225px;
  font-weight: 900;
}
.item-program__text {
  font-size: 20px;
  line-height: 28px;
  color: #e9f1ff;
}
.item-program__button {
  height: auto;
}

.media {
  margin-bottom: 214px;
}
.media__title {
  margin-bottom: 28px;
}
.media__content {
  margin-bottom: 34px;
  color: #e9f1ff;
}
.media__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 26px;
}
.media__columns-text {
  display: flex;
  margin-bottom: 40px;
}
.media__text {
  line-height: 36px;
  max-width: 460px;
}
.media__text p:not(:last-child) {
  margin-bottom: 20px;
}
.media__text span {
  font-weight: 700;
  display: block;
}
.media__text:not(:last-child) {
  margin-right: 80px;
}
.media__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -20px;
}
.media__item {
  flex: 0 0 180px;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 26px;
}
.media__plus {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  padding: 20px;
}
.media__item-image {
  background: linear-gradient(143.05deg, #eaa853 20.13%, #984860 85.02%);
  opacity: 0.78;
  border-radius: 50%;
  height: 108px;
  width: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media__item-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.media__quantity {
  font-weight: 700;
}

@media (min-width: 768.99px) {
  .info-main {
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(40.7742px);
    padding: 38px 49px 38px 53px;
  }
  .program__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (max-width: 1024px) {
  .mainblock__body {
    padding-top: 194px;
  }
  .mainblock__columns {
    padding: 0px;
  }
  .mainblock__column:not(:last-child) {
    margin-right: 72px;
  }
  .info-main {
    padding: 38px 25px;
  }
  .height__text {
    grid-template-columns: 1fr;
    padding: 0px 42px 0px 38px;
    row-gap: 38px;
    margin-bottom: 50px;
  }
  .height__text p {
    max-width: 100%;
  }
  .media__columns-text {
    display: block;
  }
  .media__text {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 870px) {
  .mainblock__body {
    padding-top: 155px;
  }
  .mainblock__text {
    margin-bottom: 74px;
    font-size: 20px;
    max-width: 345px;
  }
  .mainblock__title {
    font-size: 68px;
    line-height: 67px;
    max-width: 370px;
  }
  .info-main__content {
    display: block;
    flex: 0 1 601px;
  }
  .info-main__column:not(:last-child) {
    margin-right: 0;
  }
  .info-main__column {
    justify-content: space-around;
  }
  .program__item_big {
    grid-column: span 2;
  }
  .program__item_btn {
    background: none;
    padding: 0;
    display: block;
    margin-left: 53px;
    margin-top: -54px;
  }
  .footer__title {
    margin-right: 50px;
  }
}
@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
  .mainblock__container {
    padding: 0px 41px;
  }
  .mainblock__columns {
    display: block;
    margin-bottom: 0px;
  }
  .mainblock__column:not(:last-child) {
    margin-right: 0;
  }
  .mainblock__title {
    max-width: 100%;
    margin-bottom: 18px;
  }
  .mainblock__info {
    margin-bottom: 54px;
  }
  .mainblock__text {
    max-width: 505px;
    margin-bottom: 34px;
  }
  .mainblock__bigtext {
    top: calc(50% - 35px - 146px);
  }
  .mainblock__bigtext span {
    font-size: 81px;
  }
  .mainblock__information,
  .info-main__arrow_desctop {
    display: none;
  }
  .mainblock__information-mob {
    display: block;
  }
  .info-main {
    padding: 0;
    margin-bottom: 53px;
  }
  .info-main__column {
    justify-content: space-between;
  }
  .mainblock__body {
    padding: 105px 0px;
  }
  .info-main__arrow_mob {
    display: flex;
    margin-left: 40px;
  }
  .mainblock__bottom {
    display: flex;
  }
  .btn {
    padding: 15px 114px;
  }
  .height__title {
    font-size: 55px;
    line-height: 65px;
  }
  .height__content {
    margin: 0 -15px 41px;
    padding: 41px 50px 25px 38px;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .height__yellow {
    margin-bottom: 136px;
  }
  .item-program {
    padding: 30px 25px;
  }
  .item-program__text {
    font-size: 16px;
    line-height: 20px;
  }
  .program__items {
    grid-template-columns: 1fr 1fr;
  }
  .program {
    margin-bottom: -28px;
  }
  .footer__body {
    display: block;
  }
  .footer__text {
    margin-top: 65px;
  }
  .footer {
    margin-bottom: 71px;
    padding-top: 63px;
    position: relative;
  }
  .footer:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(138.91deg, #0015B1 23.29%, #C302D5 88.99%);
    opacity: 0.5;
  }
  .footer__container::before {
    top: 108px;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .footer__container {
    padding: 0px 40px;
  }
  .media {
    margin-bottom: 63px;
  }
  .height {
    margin-bottom: 55px;
  }
}
@media (max-width: 520px) {
  .btn {
    padding: 15px 88px;
  }
  .info-main__arrow_mob {
    margin-left: 10px;
  }
  .mainblock__title {
    font-size: 60px;
    line-height: 56px;
  }
  .mainblock__text {
    line-height: 28px;
    margin-bottom: 19px;
  }
  .info-main__content {
    margin-right: 0;
    line-height: 28px;
  }
  .info-main__column:not(:last-child) {
    margin-bottom: 20px;
  }
  .arrow-button {
    width: 61px;
    height: 61px;
  }
  .height__title {
    font-size: 40px;
  }
  .height__content {
    padding: 41px 50px 16px 38px;
  }
  .height__text p {
    font-size: 18px;
    line-height: 30px;
  }
  .height__arrow {
    display: none;
  }
  .height__line {
    margin-left: -15px;
  }
  .program__items {
    gap: 10px;
  }
  .title {
    font-size: 40px;
    line-height: 36px;
  }
  .media {
    margin-left: 20px;
  }
  .media__text {
    font-size: 18px;
    line-height: 28px;
  }
  .media__subtitle {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
  }
  .media__content {
    margin-bottom: 25px;
  }
  .media__plus {
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    margin-left: 60px;
  }
  .form__button {
    width: 100%;
  }
  .footer__text {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__title {
    margin-right: 0;
  }
}
@media (max-width: 427px) {
  .mainblock__container {
    padding: 0px 15px;
  }
  .btn {
    padding: 12px 52px;
  }
  .arrow-button {
    width: 58px;
    height: 56px;
  }
  .mainblock__title {
    font-size: 53px;
    line-height: 51px;
  }
  .mainblock__body {
    padding: 48px 0px;
  }
  .info-main__content {
    font-size: 16px;
    flex: 0 1 100%;
  }
  .info-main__left,
  .info-main__benefit {
    margin-right: 10px;
  }
  .info-main {
    margin-bottom: 35px;
  }
  .height__text {
    padding: 0px 0px 0px 10px;
  }
  .height__title {
    font-size: 30px;
  }
  .item-program__text {
    font-size: 14px;
    line-height: 16px;
  }
  .item-program {
    padding: 15px;
    margin-bottom: 15px;
  }
  .program__item_btn {
    margin-left: 15px;
  }
  .program__items {
    display: block;
  }
  .media__item {
    flex: 0 0 150px;
    padding: 0px 6px;
  }
  .media__plus {
    margin-left: 0px;
  }
  .footer__container {
    padding: 0px 15px;
  }
}
